@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';


.filter-wrapper{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  margin: 100px 0px;
}
.filter-categories{
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.filter-categories__item{
  color: #1e2124;
  font-family: "Barlow - Semi Bold";
  font-size: 17px;
  font-weight: 600;
  line-height: 46px;
}
.filter-container{
  display: flex;
  width: 15%;
  justify-content: space-between;
}
.filter-container__sort{
  font-size: 12px;
  font-weight: 400;
  line-height: 56px;
  text-transform: uppercase;
}
.filter-container__filter{
  color: #1e2124;
  font-size: 12px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
}